

.holy-grail-footer {
  padding: 0.5em 0;
  background-color: var(--color-light);
  border-top: 1px solid var(--color-green-dark);
  text-align: center;

  a {
    color: var(--color-green-medium);
    &:hover {
      color: var(--color-pink-dark);
    }
  }
  


}

@include media-query-up (medium) {}

@include media-query-up (large) {}

@include media-query-up (x-large) {}