.holy-grail {
  color: var(--color-dark);
  //font-family: "Raleway", "Open Sans", Tahoma, "Geneva", Arial, sans-serif;
  font-weight: 400;

  h2,
  h3 {
    font-family: "Baloo Chettan 2", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: 600;
    margin: 0.5em 0;
  }

  h4 {
    font-weight: 400;
    margin: 0.5em 0;
  }

  li {
    color: var(--color-yellow-light);
  }
}